h1,h2,h3 {
  margin: 40px 0 0;
}

a {
  color: #42b983;
}

button{
  background-color: #42b983;
  border: 1px solid #42b983;
  border-radius: 4px;
  padding: 5px;
  margin: 10px;

  &:hover{
    background-color: #fff;
    color: #42b983;
    cursor: pointer;
  }
}

img {
  height: auto;
  max-width: 100%;
}

.wrapper{
  margin: 0 10%;
  max-width: 1100px;
}